<div class="chat-messages">
    {{#if selectedChatId}}
        <div class="chat-messages__head">
            <div class="chat-messages__head-left"></div>
            {{{ContextMenu
                    onClickAddUserChat=onShowModalAddUserChat
                    onClickDeleteUserChat=onShowModalDeleteUserChat
            }}}
        </div>
        <div class="chat-messages__body">
            <ul class="chat-messages__list">
                {{#if messages.length}}
                    {{#each messages}}
                        <li>
                            {{{Message isMe=this.isMe photo=this.photo message=this.message time=this.time}}}
                        </li>
                    {{/each}}
                {{else}}
                    <li>
                        Сообщений нет
                    </li>
                {{/if}}
            </ul>
        </div>
        {{# ForwardRefForm className="chat-messages__footer" ref="form"}}
            {{# HandleChat}}
                {{{InputSubmit value=value onChange=onChange ref="message"}}}
                {{{ButtonSubmit disabled=disabledSubmit ref="submit" onClick=onSubmitMessage}}}
            {{/HandleChat}}
        {{/ForwardRefForm}}
    {{else}}
        <div class="chat-messages__body chat-messages__body_empty">
            Выберите чат чтобы отправить сообщение
        </div>
    {{/if}}
</div>
