<main class="profile">
    {{# SidebarLayout className="profile__sidebar" href="/"}}
        <section class="profile__content">
            <div class="profile__header">
                {{{AvatarProfile avatar=avatar canChange=false}}}
                <h4 class="profile__title">Иван</h4>
            </div>
            <div class="profile__body">
                {{{ InformationRow name="Почта" value=user.email}}}
                {{{ InformationRow name="Логин" value=user.login}}}
                {{{ InformationRow name="Имя" value=user.first_name}}}
                {{{ InformationRow name="Фамилия" value=user.second_name}}}
                {{{ InformationRow name="Имя в чате" value=user.display_name}}}
                {{{ InformationRow name="Телефон" value=user.phone}}}
            </div>
            <div class="profile__footer">
                {{{ ButtonText title="Изменить данные" className="profile__button-change" href="/profile-edit"}}}
                {{{ ButtonText title="Изменить пароль" className="profile__button-change" href="/change-password"}}}
                {{{ ButtonText title="Выйти" className="profile__button-change profile__button-change_warning" onClick=onLogout}}}
            </div>
        </section>
    {{/SidebarLayout}}
</main>
