<label class="input {{className}}">
    <input type="{{type}}" name="{{name}}" class="input__field" placeholder=" ">
    <span class="input__label">{{label}}</span>
    {{#if errorText}}
        <span class="input__error-text">{{errorText}}</span>
    {{/if}}
</label>
